#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd

#Loading DataSet

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/DetaSet/KAG_Conversion_Data.csv")
dataset.head(2)

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0

[2 rows x 11 columns]

In [ ]:
df = '/content/drive/MyDrive/DetaSet/KAG_Conversion_Data.csv'
data = np.genfromtxt(df, delimiter=",", skip_header=1)

#Previously the dataset was in float data type, We are transforming it into String data Type.
data_tr = np.genfromtxt(df, delimiter=",", skip_header=1,dtype='int')
data_str = np.genfromtxt(df, delimiter=",", skip_header=1,dtype='str')

#Feature Selection

In [ ]:
dataset.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [ ]:
ad_id = data_tr[:,0]
xyzcampaignid = data_tr[:,1]
fb_campaign_id = data_tr[:,2]
age_group = data_str[:,3]
gender = data_tr[:,4]
interest = data_tr[:,5]
impressions =data_tr[:,6]
clicks = data_tr[:,7]
spent = data[:,8]
Total_Conversion = data_tr[:,9]
Approved_Conversion = data_tr[:,10]

#Performing codes

In [ ]:
#Unique ID for each ad
np.unique(ad_id)

array([ 708746,  708749,  708771, ..., 1314412, 1314414, 1314415])

In [ ]:
#ID associated with each ad campaign of XYZ company
np.unique(xyzcampaignid)

array([ 916,  936, 1178])

In [ ]:
#fbcampaignid: an ID associated with how Facebook tracks each campaign
print("The unique id is : ",len(np.unique(fb_campaign_id)))
print("Total count: ",len(fb_campaign_id))

The unique id is :  691
Total count:  1143

In [ ]:
print("The Unique Age Group: ",np.unique(age_group))

The Unique Age Group:  ['30-34' '35-39' '40-44' '45-49']

In [ ]:
print("The Minimum Spent amount: ",spent.min())
print("The Maximum Spent amount: ",spent.max())
print("The average spent amount: ",np.average (spent))

The Minimum Spent amount:  0.0
The Maximum Spent amount:  639.9499981
The average spent amount:  51.36065613141295

In [ ]:
max_clicks = int(np.max(clicks))
print("Max Number of clicks: ",max_clicks)

Max Number of clicks:  421

In [ ]:
number_of_purchase = np.max(Approved_Conversion )
print("The maximun number of purchase in dataset", number_of_purchase)

The maximun number of purchase in dataset 21

In [ ]:
all_det = data_str[data_str[:,10] == '21']
print("All Details : ",all_det)

All Details :  [['1121104' '1178' '144533' '30-34' 'M' '16' '2080666' '202'
  '360.1500015' '40' '21']]

In [ ]:
da = pd.DataFrame(all_det)
da.columns = ['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion']
da.head()

     ad_id xyz_campaign_id  ... Total_Conversion Approved_Conversion
0  1121104            1178  ...               40                  21

[1 rows x 11 columns]